- if Rails.configuration.osm_backgrounds_source.to_s == "esri"
  |
    $(document).ready(function(){
      var tilegrid = ol.tilegrid.createXYZ({tileSize: 512, maxZoom: 14})
  == "\n  var apiKey = '#{Rails.configuration.osm_backgrounds_esri_token}'\n  "
  |
      window.mapBackgroundSource = new ol.layer.VectorTile({
        source: new ol.source.VectorTile({
          attributions: '',
          format: new ol.format.MVT(),
          tileGrid: tilegrid,
          tilePixelRatio: 8,
          url: 'http://services.esrifrance.fr/arcgis/rest/services/FranceRaster/France_FranceRaster_Premium/MapServer/tile/{z}/{x}/{y}?token=' + apiKey
        })
      })
      $(document).trigger('mapSourceLoaded')
    })

- else
  |
    $(document).ready(function(){
      window.mapBackgroundSource = new ol.layer.Tile({source: new ol.source.OSM()})
      $(document).trigger('mapSourceLoaded')
    })
