# coding: utf-8

require_relative '../seed_helpers'

Seed::Workgroup.seed("Sample") do
  stop_area_referential "StopArea Referential"
  line_referential "Line Referential"

  workbench "Sample"

  user "Sample User", email: ENV.fetch('EMAIL', "chouette@af83.com")

  custom_field :example do |field|
    field.resource_type = "VehicleJourney"
    field.name = "Example List"
    field.field_type = "list"
    field.options = { list_values: { "0": "", "1": "First", "2": "Second" }}
  end
end
