- breadcrumb @publication_setup, @workgroup

- page_header_content_for @publication_setup

.page_content
  .container-fluid
    .row
      .col-lg-6.col-md-6.col-sm-12.col-xs-12
        - metadatas = { PublicationSetup.tmf(:name) => @publication_setup.name }
        - metadatas.update( PublicationSetup.tmf(:enabled) => boolean_icon(@publication_setup.enabled) )
        = definition_list t('metadatas'), metadatas

        - metadatas = { PublicationSetup.tmf(:export_type) =>  @publication_setup.export_type }
        - @publication_setup.export_options.each do |k, v|
          - metadatas.update( translate_option_key(@publication_setup.export_class, k) => v )
        = definition_list PublicationSetup.tmf(:export_options), metadatas

      .col-lg-6.col-md-6.col-sm-12.col-xs-12
        - @publication_setup.destinations.each do |destination|
          = definition_list Destination.ts, destination_metadatas(destination), togglable: 2

    .row
      .col-lg-12
        - if @publications.empty?
          = replacement_msg t('publications.search_no_results')
        - else
          .h3 = Publication.t
          = table_builder_2 @publications,
            [ \
              TableBuilderHelper::Column.new( \
                key: :parent, \
                attribute: Proc.new do |publication| \
                  link_to "#{publication.parent.class.ts} #{publication.parent.name}", [@workgroup, @publication_setup, publication] \
                end, \
                ), \
              TableBuilderHelper::Column.new( \
                key: :status, \
                attribute: Proc.new { |n| operation_status(n.status, verbose: true) }, \
              ), \
              TableBuilderHelper::Column.new( \
                key: :created_at, \
                attribute: ->(publication){ link_to(l(publication.created_at, format: :short_with_time), [@workgroup, @publication_setup, publication])} \
              ), \
              TableBuilderHelper::Column.new( \
                key: :started_at, \
                attribute: ->(publication){ publication.started_at ? link_to(l(publication.started_at, format: :short_with_time), [@workgroup, @publication_setup, publication]) : '-' } \
              ), \
              TableBuilderHelper::Column.new( \
                key: :ended_at, \
                attribute: ->(publication){ publication.ended_at ? link_to(l(publication.ended_at, format: :short_with_time), [@workgroup, @publication_setup, publication]) : '-' } \
              ), \
            ],
            sortable: false,
            cls: 'table',
            action: :index
