- if operation.successful? && has_feature?(:manage_publications)
  .col-lg-12
    - if operation.publications.empty?
      = replacement_msg t('publications.search_no_results')
    - else
      .h3 = Publication.t
      = table_builder_2 operation.publications.order('created_at DESC').page(1),
        [ \
          TableBuilderHelper::Column.new( \
            key: :status, \
            attribute: Proc.new { |n| operation_status(n.status) }, \
          ), \
          TableBuilderHelper::Column.new( \
            key: :created_at, \
            attribute: ->(publication){ link_to(l(publication.created_at), [publication.publication_setup.workgroup, publication.publication_setup, publication])} \
          ), \
          TableBuilderHelper::Column.new( \
            key: :parent, \
            attribute: Proc.new do |publication| \
              "#{publication.parent.class.ts} #{publication.parent.name}" \
            end, \
          ), \
          TableBuilderHelper::Column.new( \
            key: :export, \
            attribute: Proc.new do |publication| \
              publication.export.present? ? link_to(operation_status(publication.export, verbose: true), publication.export_output&.url || '#') : "-" \
            end, \
          ), \
        ],
        sortable: false,
        cls: 'table',
        action: :index
