- breadcrumb :import, parent, @import

.row
  .col-lg-6.col-md-6.col-sm-12.col-xs-12
    - metadata = { t('imports.show.filename') => @import.try(:file_identifier) }
    - metadata = metadata.update({Import::Base.tmf(:status) => operation_status(@import.status, verbose: true) })
    - if @import.referential.nil?
      - metadata = metadata.update({ t('.referential') => '' })
    - else
      - if policy(@import.referential).show?
        - metadata = metadata.update({ t('.referential') => link_to(@import.referential.name, @import.referential) })
      - else
        - metadata = metadata.update({ t('.referential') => @import.referential.name })
    - metadata = metadata.update({ Workbench.ts.capitalize => link_to(@import.workbench.organisation.name, @import.workbench) }) unless @workbench
    - metadata = metadata.update Hash[*@import.visible_options.map{|k, v| [t("activerecord.attributes.import.#{@import.object.class.name.demodulize.underscore}.#{k}"), @import.display_option_value(k, self)]}.flatten]

    = definition_list t('metadatas'), metadata

.col-lg-12
  .error_messages
    = render 'shared/iev_interfaces/messages', messages: @import.messages

- if @import.resources.any?
  - controls = import_controls(@import.workbench)
  .col-lg-12
    = table_builder_2 @import.resources,
      [ \
        TableBuilderHelper::Column.new( \
          name: t('imports.show.referential_name'), \
          attribute: 'name', \
          sortable: false, \
          link_to: lambda do |item| \
            referential_path(item.referential) if item.referential.present? \
          end \
        ), \
        TableBuilderHelper::Column.new( \
          key: :status, \
          attribute: Proc.new { |n| operation_status(n.netex_import&.status || n.status, verbose: true, default_status: :pending) }, \
          sortable: false, \
          link_to: lambda do |item| \
            item.netex_import.present? ? [@import.workbench, item.netex_import] : [@import.workbench, @import, item] \
          end \
        ), *controls \
      ],
      cls: 'table',
      overhead: [ \
        {}, \
        {}, \
        controls.present? ? { \
          title: I18n.t('imports.show.summary').html_safe, \
          width: controls.size, \
          cls: "overheaded-default colspan='#{controls.size}'" \
        } : nil \
      ].compact
