- breadcrumb :merge, @merge
- page_header_content_for @merge

ruby:
 controls = @workbench.workgroup.before_merge_compliance_control_sets.map do |key, label|
   TableBuilderHelper::Column.new(
     name: label,
     attribute: lambda do |item|
       ccs = @merge.compliance_check_set(key, item)
       ccs ? import_status(ccs.status, verbose: true) : '-'
     end,
     sortable: false,
     link_to: lambda do |item|
       ccs = @merge.compliance_check_set(key, item)
       ccs && [@merge.workbench, ccs]
    end
    )
  end

ruby:
 after_controls = @workbench.workgroup.after_merge_compliance_control_sets.map do |key, label|
   TableBuilderHelper::Column.new(
     name: label,
     attribute: lambda do |item|
       ccs = @merge.compliance_check_set(key)
       ccs ? import_status(ccs.status, verbose: true) : '-'
     end,
     sortable: false,
     link_to: lambda do |item|
       ccs = @merge.compliance_check_set(key)
       ccs && [@merge.workbench, ccs]
    end
    )
  end

.page_content
  .container-fluid
    .row
      .col-lg-6.col-md-6.col-sm-12.col-xs-12
        = definition_list t('metadatas'),
          { @merge.class.human_attribute_name(:referentials) => @merge.referentials.map{ |r| link_to(r.name, referential_path(r)) }.join(', ').html_safe,
            @merge.class.human_attribute_name(:status) => import_status(@merge.status, verbose: true),
            @merge.class.human_attribute_name(:new) => @merge.new ? link_to(@merge.new.name, referential_path(@merge.new)) : '-',
            @merge.class.human_attribute_name(:operator) => @merge.creator,
            @merge.class.human_attribute_name(:created_at) => @merge.created_at ? l(@merge.created_at) : '-',
            @merge.class.human_attribute_name(:ended_at) => @merge.ended_at ? l(@merge.ended_at) : '-' }

    .col-lg-12
      = table_builder_2 @merge.referentials,
        [ \
          TableBuilderHelper::Column.new( \
            name: t('merges.show.referential_name'), \
            attribute: 'name', \
            sortable: false, \
            link_to: lambda do |item| \
              referential_path(item) \
            end \
          ), *controls \
        ], cls: 'table'

    .col-lg-12
      = table_builder_2 Referential.where(id: @merge.new),
        [ \
          TableBuilderHelper::Column.new( \
            name: t('merges.show.referential_name'), \
            attribute: 'name', \
            sortable: false, \
            link_to: lambda do |item| \
              referential_path(item) \
            end \
          ), *controls \
        ], cls: 'table'
