- breadcrumb :aggregate, @aggregate
- page_header_content_for @aggregate

ruby:
 after_controls = Workgroup.compliance_control_sets_for_workgroup.map do |key, label|
   TableBuilderHelper::Column.new(
     name: label,
     attribute: lambda do |item|
       ccs = @aggregate.compliance_check_set(key)
       ccs ? operation_status(ccs.status, verbose: true) : '-'
     end,
     sortable: false,
     link_to: lambda do |item|
       ccs = @aggregate.compliance_check_set(key)
       ccs && [@aggregate.workgroup, ccs]
    end
    )
  end

.page_content
  .container-fluid
    .row
      .col-lg-6.col-md-6.col-sm-12.col-xs-12
        = definition_list t('metadatas'),
          { @aggregate.class.tmf(:referentials) => @aggregate.referentials.map{ |r| link_to(r.name, referential_path(r)) }.join(', ').html_safe,
            @aggregate.class.tmf(:status) => operation_status(@aggregate.status, verbose: true, i18n_prefix: "aggregates.statuses"),
            @aggregate.class.tmf(:new) => @aggregate.new ? link_to(@aggregate.new.name, referential_path(@aggregate.new)) : '-',
            @aggregate.class.tmf(:operator) => @aggregate.creator,
            @aggregate.class.tmf(:created_at) => @aggregate.created_at ? l(@aggregate.created_at) : '-',
            @aggregate.class.tmf(:ended_at) => @aggregate.ended_at ? l(@aggregate.ended_at) : '-',
            @aggregate.class.tmf(:notification_target) => I18n.t("operation_support.notification_targets.#{@aggregate.notification_target || 'none'}") }


    .col-lg-12
      = table_builder_2 @aggregate.referentials,
        [ \
          TableBuilderHelper::Column.new( \
            name: I18n.t('aggregates.show.finalized_offer'), \
            attribute: 'name', \
            sortable: false, \
            link_to: lambda do |item| \
              referential_path(item) \
            end \
          ) \
        ], cls: 'table'

    - if @aggregate.new
      .col-lg-12
        = table_builder_2 Referential.where(id: @aggregate.new),
          [ \
            TableBuilderHelper::Column.new( \
              name: @aggregate.class.tmf(:new), \
              attribute: 'name', \
              sortable: false, \
              link_to: lambda do |item| \
                referential_path(item) \
              end \
            ), *after_controls \
          ], cls: 'table'
