h2 style=mailer_style(:h2)
  == 'mailers.hello'.t
p== t('mailers.calendar_mailer.created.body', cal_name: @calendar.name )
p= mailer_button(t('mailers.calendar_mailer.button'), workgroup_calendar_url(@calendar.workgroup, @calendar))
