h2 style=mailer_style(:h2)
  == t('mailers.calendar_mailer.updated.body', cal_name: @calendar.name )
  br
  = mailer_button(t('mailers.calendar_mailer.button'), workgroup_calendar_url(@calendar.workgroup, @calendar))
