//----------//
//  Custom  //
//----------//

@import 'base/config'
@import 'base/utilities'

@import 'layout'
body
  overflow-x: hidden

body > .container-fluid
  width: 1200px
  margin: auto

.page_header
  position: relative
  color: white
  padding: 0 0 30px 0
  margin-bottom: 30px
  .brandname a
    color: white
    font-size: 2em
  &:before
    position: absolute
    z-index: -1
    content: ""
    left: -1000px
    right: -1000px
    top: -40px
    bottom: 0
    background: $brand-color-secondary

pre, li
  margin-top: 10px

h2
  margin-bottom: 1em

h4
  margin-top: 2em

.error
  font-size: 2em
  background-color: red
  padding: 10px
  color: white

.right-col
  border: 1px solid $brand-color-secondary
  text-align: center
  border-radius: 5px
  h3
    color: $brand-color-primary
    margin-bottom: 30px
    padding-bottom: 20px
    border-bottom: 1px solid $brand-color-secondary
  a
    padding: 10px 20px
    background: $brand-color-primary
    border: 1px solid $brand-color-primary
    text-decoration: none
    transition: background-color 0.3s
    display: block
    color: white
    border-radius: 5px
    font-weight: bold
    margin-top: 2em
    &:hover
      background: white
      color: $brand-color-primary
