h2 style=mailer_style(:h2)
  == 'mailers.hello'.t

p== t('mailers.password_mailer.updated.body', app_name: 'brandname'.t)

p= mailer_button(t('mailers.password_mailer.updated.button'), edit_password_url(@user, :reset_password_token => @token))
